* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* font-size: 16px; */
    display: flex;
    /* flex-direction: column; */
    
    justify-content: flex-start;
  }
  
header{
    min-height: 100vh;
    padding: 40px;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}

h1{
    font-family: 'Monoton';
    font-size: 40px;
    font-style:normal;
    font-weight: 500;

}

header nav ul{
    font-size: small;
    display:flex;
    flex-direction: column;
    /* padding: 10px; */
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    /* padding-top: 100px; */
}

header nav ul li a:hover{
    color: aqua;
}




/* h1{
    padding: 40px;
    text-align: center;
    background: linear-gradient(blue,skyblue);
    color: white;
} */