*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
}
  
header{
    position:fixed;
    min-height: 100vh;
    min-width: min-content;
    width:20%;
    padding: 40px;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    z-index:1;
}

.aboutMe #profilePic{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Monoton';
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

ul li{
    font-size: 30px;
}

header nav ul{
    font-size: small;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color: aqua;
}

.aboutMe{
    margin-left: 300px;
    width: 80%;
    background: black;
    color: white;
}

.aboutMe p{
    text-align: center;
    padding-top: 50px;
}

.aboutMe .work{
    margin: 50px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.work .Project{
    height: 310px;
    width: auto;
    margin: 20px;
    border: 5px solid aqua;
    border-radius: 10px;
}

.work Img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.Project:hover{
    transform: scale(1.2);
    object-fit: cover;
}

.Project:hover::after{
    position: absolute;
    left: 100px;
    top: 240px;
    border: 3px solid grey;
    padding:10px;
    background-color: #4158D0;
    color: white;
}

.Project:hover:nth-child(1)::after{
    content: "Movie Finder";
}

.Project:hover:nth-child(2)::after{
    content: "LED Wall";
}

.Project:hover:nth-child(3)::after{
    content: "Calculator";
}

.Project:hover:nth-child(4)::after{
    content: "Pastel Puzzles";
}

.Project:hover:nth-child(5)::after{
    content: "Run Buddy";
}

footer{
    width: 100%;
    z-index: 1;
    background: linear-gradient(lime,aqua);
    color: white;
}

footer ul{
    list-style: none;
    columns:4;
    text-align: center;
}

footer ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: magenta;
}

@media screen and (max-width: 1400px){
    .aboutMe p{
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 1100px){
    header{
        min-height: 10vh;
        min-width: 100%;
        width:20%;
    }

    header nav ul{
        columns:4;
    }

    .aboutMe{
        padding-top: 200px;
        margin-left: 0px;
        width: 100%;
        background: black;
        color: white;
    }

    .aboutMe h1{
        text-align: center;
    }
    
    .aboutMe p{
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    ul li{
        font-size: 3vw;
    }
}

@media screen and (max-width: 550px){
    h1{
        font-size: 6vw;
    }
}

@media screen and (max-width: 375px){
    header img{
        display:none;
    }
    
    .work .Project{
        width: auto;
        height: auto;
    }

    .work .Project img{
        width: 60vw;
        height: 30vh;
    }

    .Project:hover::after{
        position:absolute;
        align-items: center;
        justify-content: center;
        top:160px;
        left:40px;
        font-size: 0.8em;
        padding:0.8em;
    }
}

@media screen and (max-width: 312px){
    header nav ul li{
        font-size: 0.6em;
    }

    .aboutMe #profilePic{
        margin-top: 0px;
    }
}



