* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-wrap: wrap;
  }
  
header{
    position:fixed;
    min-height: 100vh;
    min-width: min-content;
    width:20%;
    padding: 40px;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    z-index:1;
}

h1{
    font-family: 'Monoton';
    font-size: 40px;
    font-weight: 500;
}

header img{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

ul li{
    font-size: 30px;
}

header nav ul{
    font-size: small;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    /* padding-top: 100px; */
}

header nav ul li a:hover{
    color: aqua;
}

.aboutMe{
    margin-left: 300px;
    width: 80%;
    background: black;
    color: white;
}

.aboutMe h1{
    text-align: center;

}

.aboutMe p{
    text-align: center;
    padding-top: 50px;
    /* padding-left: 100px; */
    /* padding-right: 360px; */
}

.aboutMe .work{
    margin: 50px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-basis: auto; */
}

.work .Project{
    height: 310px;
    width: auto;
    margin: 20px;
    border: 5px solid aqua;
    border-radius: 10px;
}

.work Img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.Project:hover{
    transform: scale(1.2);
    /* z-index: 2; */
    object-fit: cover;
}

footer{
    width: 100%;
    z-index: 1;
    background: linear-gradient(lime,aqua);
    color: white;
}

footer h1{
    text-align: center;
}

footer ul{
    list-style: none;
    columns:4;
    text-align: center;
}

footer ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: magenta;
}

@media screen and (max-width: 1400px){
    .aboutMe p{
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 1100px){
    header{
        
        min-height: 10vh;
        min-width: 100%;
        width:20%;
    }

    header nav ul{
        columns:4;
    }

    .aboutMe{
        margin-left: 0px;
        width: 100%;
        background: black;
        color: white;
    }

    .aboutMe h1{
        text-align: center;
        /* margin-top: 50px; */
        padding-top: 200px;
    }
    
    .aboutMe p{
        text-align: center;

    }
}

@media screen and (max-width: 700px){
    ul li{
        font-size: 3vw;
    }
}

@media screen and (max-width: 550px){
    h1{
        font-size: 6vw;
    }
}



